# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
.env.*
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Node / JS
node_modules/
dist/
build/
.npmrc

# Editors/IDE
.vscode/
.idea/
*.iml

# Misc
*.log
*.tmp
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Mac archive files
*.zip
*.tar
*.tar.gz
*.rar
